<h1> DIY LIFE </h1>
<form method="GET">
	<input type="radio" name="filterCategory" value="Complete"> Complete
	<input type="radio" name="filterCategory" value="Incomplete"> Incomplete 	<input type="submit" value="Filter Stories">
</form>
<hr>
<h2> {{stat}} Stories So Far </h2>
<br>
{{#each stories as |story|}}
	<a href={{story.slug}}>{{story.title}}</a>
	<br>
{{/each}}
<hr>
<br>
{{#if user}}
You are currently logged in as {{user.username}}
<br>
<a href="/create">Click here to create a new story</a>
<br>
<a href="/logout">Logout</a>
{{else}}
Welcome!
<br>
If you want to create a new story, you must login first. 
<br>
<a href="/login">Login</a> | <a href="/register">Register</a>
{{/if}}
